.container{
   background-color: lightskyblue;
   text-align: center;
}
.row{
    background-color: white;
    
}
.caixa_titulo{
    border: solid 2px lightsteelblue;
    font-size: 20px;
}
.caixa_conteudo{
    border: solid 2px lightsteelblue;
    font-size: 20px;
    height: 300px;
}
.caixa_formulario{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.font-control{
    width: 100% !important;

}
.btn-primary{
    background-color: mediumblue !important;
}